{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TeamGlade{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/Teamglade.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        TeamGlade
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% block navbar %}
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">              
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="#">My account</a>
                    <a class="dropdown-item" href="#">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                  </div>
                </li>

              {% else %}
                <form class="form-inline ml-auto">
                  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                  <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                </form>
              {% endif %}                                
          </ul>
      </div>
      {% endblock %}
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>

  </body>
</html>