{% extends 'base.html' %}

{% load static %}

{% block title %}TeamGlade: free online place for sharing files in teams{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}

    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                Free online place for sharing files and messages in teams 
              </h1>
              <p class="ud-hero-desc">
                Simple and easy to use online place for collaboration in teams or students groups.
                If you are looking convenient place for storing and sharing messages and files - TeamGlade provides one location for all team content.
              </p>
              <ul class="ud-hero-buttons">
                <li>
                  <a href="{% url 'signup' %}" rel="nofollow noopener" class="ud-main-btn ud-white-btn">
                    Join Now
                  </a>
                </li>
              </ul>
            </div>
            <div
              class="ud-hero-brands-wrapper wow fadeInUp"
              data-wow-delay=".3s"
            >
              <img src="{% static 'images/play_brand.svg' %}" alt="brand" /> 
            </div>
            <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
              <img src="{% static 'images/room_screenshot.png' %}" alt="room screenshot" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;"/>
              <img
                src="{% static 'images/play_dotted-shape.svg' %}"
                alt="shape"
                class="shape shape-1"
              />
              <img
                src="{% static 'images/play_dotted-shape.svg' %}"
                alt="shape"
                class="shape shape-2"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Hero End ====== -->

    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title">
              <span>Features</span>
              <h2>Bring your team together</h2>
              <p>
                The base of TeamGlade is a room: organized space for sending and sharing messages and files.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
              <div class="ud-feature-icon">
                <!-- <i class="lni lni-gift"></i> -->
                <img src="{% static 'images/lni_box_gift.svg' %}" alt="shape"/>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Free and Open-Source</h3>
                <p class="ud-feature-desc">
                  TeamGlade is completely free without any limits.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
              <div class="ud-feature-icon">
                <!-- <i class="lni lni-move"></i> -->
                <img src="{% static 'images/lni_arrows.svg' %}" alt="shape"/>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Easy to use</h3>
                <p class="ud-feature-desc">
                  Sending invite in couple clicks without registration.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-feature-icon">
                <!-- <i class="lni lni-layout"></i> -->
                <img src="{% static 'images/lni_layout.svg' %}" alt="shape"/>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">It is convenient</h3>
                <p class="ud-feature-desc">
                  Viewing messages in table along with files.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
              <div class="ud-feature-icon">
                <!-- <i class="lni lni-layers"></i> -->
                <img src="{% static 'images/lni_layers.svg' %}" alt="shape"/>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">It is simple</h3>
                <p class="ud-feature-desc">
                  All you need without any complexity and difficulties.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Features End ====== -->

    <!-- ====== About Start ====== -->
    <section id="about" class="ud-about">
      <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-about-content-wrapper">
            <div class="ud-about-content">
              <span class="tag">About Us</span>
              <h2>Making workflow in teams more easy and more convinient.</h2>
              <p>
                TeamGlade is simple and easy to use online place for collaboration in teams or students groups.
                Our platform allows teams to create workspaces, where members can share files, exchange messages, and collaborate in real-time. 
              </p>

              <p>
                The main ‘thrust’ is to make workflow simple and convenient. 
                Whether you're working on a small project or managing a large team, our platform makes your communicate efficiently and effortlessly.
              </p>
            </div>
          </div>
          <div class="ud-about-image">
            <img src="{% static 'images/play_about-image.svg' %}" alt="about-image" />
          </div>
        </div>
      </div>
    </section>
    <!-- ====== About End ====== -->

    <!-- ====== FAQ Start ====== -->
    <section id="faq" class="ud-faq">
      <div class="shape">
        <img src="{% static 'images/play_shape.svg' %}" alt="shape" /> 
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title text-center mx-auto">
              <span>FAQ</span>
              <h2>Any Questions? Answered</h2>
              <p>
                Find answers to commonly asked questions about TeamGlade.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                >
                  <span class="icon flex-shrink-0">
                    <!-- <i class="lni lni-chevron-down"></i> -->
                    <!-- <img src="{% static 'images/lni_chevron_down.svg' %}" alt="shape"/> -->
                    <i style="display:inline-block;"> <img src="{% static 'images/lni_chevron_down.svg' %}"></i>
                  </span>
                  <span>How to use TeamGlade?</span>
                </button>
                <div id="collapseOne" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    The base of TeamGlade is a "Room". You will get your own room together with Sign Up. 
                    After this you can send invites for other members of your team and they can visit your room without registration.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                >
                  <span class="icon flex-shrink-0">
                    <!-- <i class="lni lni-chevron-down"></i> -->
                    <!-- <img src="{% static 'images/lni_chevron_down.svg' %}" alt="shape"/> -->
                    <i style="display:inline-block;"> <img src="{% static 'images/lni_chevron_down.svg' %}"></i>
                  </span>
                  <span>Is TeamGlade actually free?</span>
                </button>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, TeamGlade is free with no any limitations.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                >
                  <span class="icon flex-shrink-0">
                    <!-- <i class="lni lni-chevron-down"></i> -->
                    <!-- <img src="{% static 'images/lni_chevron_down.svg' %}" alt="shape"/> -->
                    <i style="display:inline-block;"> <img src="{% static 'images/lni_chevron_down.svg' %}"></i>
                  </span>
                  <span>Is any uploaded files limitations?</span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, with any of your message you can attach up to 5 files up to 5MB each. 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                >
                  <span class="icon flex-shrink-0">
                    <!-- <i class="lni lni-chevron-down"></i> -->
                    <!-- <img src="{% static 'images/lni_chevron_down.svg' %}" alt="shape"/> -->
                    <i style="display:inline-block;"> <img src="{% static 'images/lni_chevron_down.svg' %}"></i>
                  </span>
                  <span>How can I invite a member to visit my room?</span>
                </button>
                <div id="collapseFour" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    It easy: you can press "Invite" button in your room, enter teammate's email, press "Send".
                    Teammate will be able to visit your room without registration.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                >
                  <span class="icon flex-shrink-0">
                    <!-- <i class="lni lni-chevron-down"></i> -->
                    <!-- <img src="{% static 'images/lni_chevron_down.svg' %}" alt="shape"/> -->
                    <i style="display:inline-block;"> <img src="{% static 'images/lni_chevron_down.svg' %}"></i>
                  </span>
                  <span>Can I use TeamGlade for commercial use?</span>
                </button>
                <div id="collapseFive" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    Yes, you can use TeamGlade for commercial purposes as long as you need free with no any limitations.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                >
                  <span class="icon flex-shrink-0">
                    <!-- <i class="lni lni-chevron-down"></i> -->
                    <!-- <img src="{% static 'images/lni_chevron_down.svg' %}" alt="shape"/> -->
                    <i style="display:inline-block;"> <img src="{% static 'images/lni_chevron_down.svg' %}"></i>
                  </span>
                  <span>How many members I can invite?</span>
                </button>
                <div id="collapseSix" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    No any restrictions within reasonable limits.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== FAQ End ====== -->

    <!-- ====== Contact Start ====== -->
    <section id="contact" class="ud-contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-7">
            <div class="ud-contact-content-wrapper">
              <div class="ud-contact-title">
                <span>CONTACT US</span>
                <h2>
                  Let’s talk about <br />
                  Love to hear from you!
                </h2>
              </div>
              <div class="ud-contact-info-wrapper">
                <div class="ud-single-info">
                  <div class="ud-info-icon">
                    <!-- <i class="lni lni-envelope"></i> -->
                    <img src="{% static 'images/lni_envelope.svg' %}" alt="shape"/>
                  </div>
                  <div class="ud-info-meta">
                    <h5>How Can We Help?</h5>
                    <p>lawagame@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5">
            <div
              class="ud-contact-form-wrapper wow fadeInUp"
              data-wow-delay=".2s"
            >
              <h3 class="ud-contact-form-title">Send us a Message</h3>
              <form class="ud-contact-form" action="/message/" method="post">
                {% csrf_token %}
                <div class="ud-form-group">
                  <label for="name">Name*</label>
                  <input
                    type="text"
                    name="name"
                    placeholder="Name"
                    required
                    minlength="3" 
                    maxlength="30"
                  />
                </div>
                <div class="ud-form-group">
                  <label for="email">Email*</label>
                  <input
                    type="email"
                    name="email"
                    placeholder="example@yourmail.com"
                    required
                  />
                </div>
                <div class="ud-form-group">
                  <label for="phone">Phone (optional)</label>
                  <input
                    type="tel"
                    name="phone"
                    placeholder="+1 123 456 7890"
                    minlength="4" 
                    maxlength="16"
                  />
                </div>
                <div class="ud-form-group">
                  <label for="message">Message*</label>
                  <textarea
                    name="message"
                    rows="5"
                    placeholder="Type your message here"
                    required
                    minlength="1" 
                    maxlength="190"
                  ></textarea>
                </div>
                <div class="ud-form-group mb-0">
                  <button type="submit" class="ud-main-btn">
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Contact End ====== -->

    <!-- ====== Footer Start ====== -->
    <footer class="ud-footer wow fadeInUp" data-wow-delay=".15s">
      <div class="shape shape-1">
        <img src="{% static 'images/play_shape-1.svg' %}" alt="shape" />
      </div>
      <div class="shape shape-2">
        <img src="{% static 'images/play_shape-2.svg' %}" alt="shape" />
      </div>
      <div class="shape shape-3">
        <img src="{% static 'images/play_shape-3.svg' %}" alt="shape" />
      </div>
      <div class="ud-footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="ud-widget">
                <a href="{% url 'home' %}" class="ud-footer-logo">
                  <img src="{% static 'images/logo.svg' %}" alt="logo" />
                </a>
                <p class="ud-widget-desc">
                  Making workflow in teams more easy and more convinient.
                </p>
              </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
              <div class="ud-widget">
                <h5 class="ud-widget-title">About Us</h5>
                <ul class="ud-widget-links">
                  <li>
                    <a href="#home">Home</a>
                  </li>
                  <li>
                    <a href="#about">About</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
              <div class="ud-widget">
                <h5 class="ud-widget-title">Features</h5>
                <ul class="ud-widget-links">
                  <li>
                    <a href="#features">Features</a>
                  </li>
                  <li>
                    <a href="#faq">FAQ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ====== Footer End ====== -->

{% endblock %}