{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'rooms.css' %}">
{% endblock %}

{% block title %}Create New Topic{% endblock %}

{% block content %}
<div class="container rounded bg-light mt-5 pt-3 pb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-success">
      <li class="text-white">New Topic</li>
    </ol>
  </nav>

  <form method="post" novalidate>
    {% csrf_token %}

<!-- Form/ModelForm class with widget_tweaks tuning version -->    
    {% include 'includes/form.html' %}

<!-- Form/ModelForm class version -->
<!--     {{ form.as_p }} -->

<!-- HTML form version -->
<!--     
    <div class="form-group">
      <label for="id_title">Title</label>
      <input type="text" class="form-control" id="id_title" name="title">
    </div>
    <div class="form-group">
      <label for="id_message">Message</label>
      <textarea class="form-control" id="id_message" name="message" rows="5"></textarea>
    </div> -->

    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}