{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'rooms.css' %}">
{% endblock %}

{% block title %}Create New Topic{% endblock %}

{% block content %}
<div class="container rounded bg-light mt-5 pt-3 pb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-success">
      <li class="text-white">New Topic</li>
    </ol>
  </nav>

  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

<!-- Form/ModelForm class with widget_tweaks tuning version -->    
    {% include 'includes/form.html' %}

<!-- Form/ModelForm class version -->
<!--     {{ form.as_p }} -->

<!-- HTML form version -->
<!--     
    <div class="form-group">
      <label for="id_title">Title</label>
      <input type="text" class="form-control" id="id_title" name="title">
    </div>
    <div class="form-group">
      <label for="id_message">Message</label>
      <textarea class="form-control" id="id_message" name="message" rows="5"></textarea>
    </div> -->
    <p id="error_field"></p>

    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>
{% endblock %}

{% block javascript %}

<script>
const uploadField = document.getElementById("id_files");
const errorField = document.getElementById("error_field");
const maximumSize = 5242880 /* 5 MB */
const maximumQuantity = 5

uploadField.onchange = function() {
  errorField.innerText = "";
  if(this.files.length > maximumQuantity) {
    errorField.innerText = "Too many files chosen! You can chose up to 5 files.";
    this.value = "";
    this.setAttribute("data-title", "No");
  }

  for(const file of this.files) 
    if(file.size > maximumSize) {
      /*alert("File is too big!"); */
      errorField.innerText = "File is too big! You can chose file up to 5 MB.";
      this.value = "";
    }

};

/*uploadField.onchange = function() {
    if(this.files[1].size > 20) {
       alert("File is too big!");
       this.value = "";
    }
};*/

</script>
{% endblock %}