{% extends 'base.html' %}

<title>{% block title %}MyRoom{% endblock %}</title>

{% block content %}
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{room.name}} </th>
        <th></th>
        <th class="text-right">
          <a class="btn btn-secondary" href="{% url 'new_topic' 2 %}" role="button">Make New Topic</a>
          <a class="btn btn-secondary" href="#" role="button">Invite</a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for topic in room.topics.all %}
        <tr>
          <td class="align-middle">
            {{ topic.created_by.username}}<br>
          </td>
          <td class="align-middle">
            {{ topic.title }}<br>
          </td>
          <td class="align-middle">
            {{ topic.created_at }}<br>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}