{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyRoom</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/Teamglade.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        TeamGlade
      </a>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">{{user_name}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Settings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Log out</a>
              </li>
          </ul>
      </div>
    </nav>

    <div class="container">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>User Name</th>
            <th>Title</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topics_list %}
            <tr>
              <td class="align-middle">
                {{ topic.created_by.username}}<br>
              </td>
              <td class="align-middle">
                {{ topic.title }}<br>
              </td>
              <td class="align-middle">
                {{ topic.created_at }}<br>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>