{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyRoom</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  </head>
  <body>
    <h1>MyRoom</h1>

    <div class="container">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topics_list %}
            <tr>
              <td class="align-middle">
                {{ topic.id }}<br>
              </td>
              <td class="align-middle">
                {{ topic.title }}<br>
              </td>
              <td class="align-middle">
                {{ topic.created_at }}<br>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>