{% extends 'base.html' %}

{% load static %}

<title>{% block title %}Confirm Delete{% endblock %}</title>

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'rooms.css' %}">
{% endblock %}

{% block content %}
<div class="container rounded bg-light mt-5 pt-3 pb-3">
	<form method="post">
		{% csrf_token %}
		<h6 class="text-muted">Are you sure that you want to delete topic "{{topic}}"?</h6>
		<hr>
		<p class="form-buttons">
			<button type="submit" class="btn btn-warning">Delete For Ever</button> <!-- <input type="submit" class="btn btn-primary" value="Delete">  -->
			<a href="#" onclick="history.back()" class="btn btn-outline">Cancel</a>
		</p>
	</form>
</div>
{% endblock %}