body {
  background-image: url(./images/trees.webp);
}

/* pagination page links */

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #009030 !important;
    background-color: #fff !important;
    border: 1px solid #b9dac1 !important;
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    text-decoration: none;
    background-color: #b4d5bc !important;
    border-color: #b9dac1;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #007f1f !important;
    border-color: #b9dac1;
}

/* file upload form field */

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #1b7931;
  font-weight: bold;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 0px 20px 5px 10px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  color: #28a745;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

/* room  */

.topic:hover {
/*    z-index: 20;
    color: #fff !important;
    text-decoration: none;
    background-color: #b4d5bc !important;
    border-color: #b9dac1;*/
    box-shadow: 0px 2px 3px 1px #92ad99;
}

#error_field {
	color: red;
}